extends ../layout/index

block content
    div.flex.justify-center.items-center
        div.py-9   
            div.flex.items-center
                h1.text-center.text-4xl.my-10.font-extrabold.text-dark Bienes
                    span.font-normal.text-secondary Raices
            h2.text-center.text-3xl.font-extrabold.text-secondary= page

            if errors
                style.
                    .fade-error{
                        transition: opacity 1s ease-in-out;
                    }
            script.
                setTimeout(function() {
                const errorMessages = document.querySelectorAll('.fade-error');
                errorMessages.forEach((message, index) => {
                    setTimeout(() => {
                    message.style.opacity = '0'; 
                    setTimeout(() => {
                        message.style.display = 'none'; 
                    }, 1000); 
                    }, index * 2000); 
                });
                }, 1500);

            if errors
                div(class="max-w-md mx-auto my-10")
                    each error in errors
                        p.bg-error.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold.fade-error(style="font-family: 'Papyrus', 'fantasy'")!= error.msg
                                
            .mt-8.mx-auto.max-w-md
                div.bg-neutral.py-8.px-8.shadow-5xl.rounded-lg.bg-dark-200.w-full.max-w-4xl(style="font-family: 'Montserrat', sans-serif;")
                    form(method="POST").space-y-5.px-6
                        input(type="hidden" name="_csrf" value= csrfToken)
                        div
                            label.block.text-sm.uppercase.text-black.mb-2.font-bold Ingresa tu Nueva Contraseña: 
                            input#password.w-full.px-3.py-2.border-2.border-black.rounded-md(type="password" placeholder="Minimo de 8 caracteres" name="new_password")
                        div
                            label.block.text-sm.uppercase.text-black.mb-2.font-bold Confirmar tu Nueva Contraseña: 
                            input#password2.w-full.px-3.py-2.border-2.border-balck.rounded-md(type="password" placeholder="Que sea igual a la anterior " name="new_password2")
                        input(class="w-full bg-dark text-secondary font-bold py-3 rounded-xl cursor-pointer hover:bg-accent transition-all duration-300 transform hover:scale-105" type="submit" value="Actualizar Contraseña")