extends ../layout/index

block content
    input(type="hidden" name="_csrf" value=csrfToken)
    div.py-10
        h1.text-center.text-4xl.my-10.font-extrabold.text-dark Bienes
            span.font-normal.text-secondary Raices
        h2.text-center.text-3xl.font-extrabold.text-secondary= page

        p.text-xl.font-bold.text-center.my-10= msg
