doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bienes Raices | 220397 | #{page}
        link(rel="stylesheet", href="/css/app.css")
        link(rel="icon", type="image/png", href="https://img.icons8.com/?size=100&id=Jhy9yLtZWVXL&format=png&color=000000")
    
    body.h-80.bg-primary 
        main(class="mx-auto container")
            block content

